*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: 'roboto_medium';
    overflow-x: hidden;
}

/* store every font in a folder called fonts and link it to the main_style.css file */

@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'roboto_light_italic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'roboto_medium_italic';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'roboto_bold_italic';
    src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'roboto_black_italic';
    src: url('../fonts/Roboto-BlackItalic.ttf');
}

/* reusable code */

.padding{
    padding: 3rem;
}

.slider-left button{
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'roboto_medium';
    width: 140px;
    height: 45px;
    transition: all 0.3s ease;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

button:hover{
    background-color: #000;
    color: #fff;
}

h1{
    font-family: 'roboto_black';
    font-size: 3rem;
    color: #000;
}
h2{
    font-family: 'roboto_black';
    font-size: 2.5rem;
    color: #000;
}
p{
    font-family: 'roboto_regular';
    font-size: 1.3rem;
    color: #000;
}

/* header */

.header{
    height: 12vh;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13)
}
.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
}
li a{
    text-decoration: none;
    color: #000;
    font-family: 'roboto_medium';
    transition: all 0.3s ease;
    cursor: pointer;
}
.r-menu ul li a{
    font-size: 1.5rem;
}
.m-menu{
    display: none;
    list-style: none;
    font-size: 1.5rem;
}



/* slider */

.banner{
    width: 100%;
    position: relative;
}
.slider-content{
    height: 40vh;
    background-color: #dfdfdf;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    width: 100%;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15px;
    left: 45%;
    gap: 2rem;
    position: absolute;
    bottom: 15%;
}

.slider-controls span{
    padding: .5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    color: #000;
    border-radius: 50%;
}   

.slider-controls span:hover{
    background-color: #000;
    color: #fff;
}

.arrow i{
    font-size: 2rem;
    cursor: pointer;
}

.slider{
    height: 100%;
    width: 400%;
    display: flex;
}

.slider section{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 7rem;
}

.slider-left img{
    display: none;
}

.slider-right {
    display: flex;
    justify-content: flex-end;
}

.slider-right{
    width: 100%;
}
.slider-right img{
    width: 120%;
    min-width: 400px;
}

.slider1{
    background-color: #f0c22c;
}
.slider2{
    background-color: #d4d3cf;
}

.slider3{
    background-color: #0199cb;
}

.slider4{
    background-color: #f45d7c;
}

.slider-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* .slider-left p{
    width: 80%;
} */

/* product categories */

.product-categories{
    width: 100vw;
}

.product-categories h3{
    font-family: 'roboto_black';
    font-size: 2rem;
    color: #000;
}

.categories-ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 20px;
}



.categories-item{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px 0;
}

.categories-item img{
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

.categories-item p{
    margin-top: 15px;
    font-family: 'roboto_medium';
    font-size: 1.5rem;
    color: #000;
}

/* featrured product section */

.featured-product{
    width: 100%;
    height: 100vh;
}

.featured_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.f_product{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* .f_product img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */

.fproduct-img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}

.fproduct-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.fproduct-img img:hover{
    transform: scale(1.1);
}

.featured_product_info{
    text-align: center;
}


/* media screen */

@media only screen and (max-width: 956px) {
    ul{
        gap: 1.7rem;
    }
    .search input{
        display: none;
    }
    
    .slider section{
        justify-content: center;

    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }

    .slider-left{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    
    .slider-left p{
        width: 100%;
    }
    .slider section{
        padding: 2rem;
        gap: 0;
    }
    
    .slider-right{
        display: none;
    }
    .slider-left img{
        display: block;
        width: 100%;
        height: 100%;

    }
}

@media only screen and (max-width: 670px) {
    .m-menu{
        display: block;
    }
    .menu,.r-menu{
        display: none;
    }
    .categories-item p{
        display: none;
    }
    
    .slider-content{
        height: 30vh;
    }
    .slider-controls{
        display: none;
    }
    .slider section{
        padding: 1rem;
    }

    /* .slider-left button{
        width: 100px;
        height: 35px;
    } */
 
}

@media only screen and (min-width: 1280px) {
    .navbar{
        padding: 0 9vw;
    }
    .padding{
        padding: 2.5vw 9vw;
    }
}
 
