*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: 'roboto_medium';
}

/* store every font in a folder called fonts and link it to the main_style.css file */

@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'roboto_light_italic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'roboto_medium_italic';
    src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
    font-family: 'roboto_bold_italic';
    src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'roboto_black_italic';
    src: url('../fonts/Roboto-BlackItalic.ttf');
}


.padding{
    padding: 3rem;
}
/* header */

.header{
    height: 8vh;
    width: 100vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13)
}
.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
}
li a{
    text-decoration: none;
    color: #000;
    font-family: 'roboto_medium';
    transition: all 0.3s ease;
    cursor: pointer;
}
.r-menu ul li a{
    font-size: 1.5rem;
}
.m-menu{
    display: none;
    list-style: none;
    font-size: 1.5rem;
}



/* slider */

.banner{
    width: 100%;
    position: relative;
}
.slider-content{
    height: 40vh;
    background-color: #dfdfdf;
    overflow: hidden;
    position: relative;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15px;
    left: 50%;
    gap: 2rem;
    position: absolute;
    bottom: 15%;
}

.slider-controls span{
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    color: #000;
}

.slider-controls span:hover{
    background-color: #000;
    color: #fff;
}

.arrow i{
    font-size: 2rem;
    cursor: pointer;
}

.slider{
    height: 100%;
    width: 400%;
    display: flex;
    background-color: red;
}

.slider section{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 7rem;
}

.slider-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.slider-right{
    width: 100%;
}
.slider-right img{
    width: 60%;
}

.slider1{
    background-color: #e4b620;
}
.slider2{
    background-color: #d4d3cf;
}

.slider3{
    background-color: #0199cb;
}

.slider4{
    background-color: #f45d7c;
}


/* media screen */

@media only screen and (max-width: 956px) {
    ul{
        gap: 1.7rem;
    }
    .search input{
        display: none;
    }
}

@media only screen and (max-width: 670px) {
    .m-menu{
        display: block;
    }
    .menu,.r-menu{
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .navbar{
        padding: 0 9vw;
    }
    .padding{
        padding: 2.5vw 9vw;
    }
}
 
