*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: 'roboto_medium';
    overflow-x: hidden;
}

/* store every font in a folder called fonts and link it to the main_style.css file */

@font-face {
    font-family: 'roboto_black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'roboto_medium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

:root{
    --color_black: #000;
    --color_ofBlack: #1E1E1E;
    --color_white: #fff;
    --color_ofWhite: #D9D9D9;
    --theme_color1: #FE9156;
    --theme_color2: #EDEF89;
}

/* reusable code */

.padding{
    padding: 3rem;
}

h1{
    font-family: 'roboto_black';
    font-size: 4rem;
    color: var(--color_black);
}
h2{
    font-family: 'roboto_black';
    font-size: 2.5vw;
    color: var(--color_black);
}
p{
    font-family: 'roboto_regular';
    font-size: 1.3vw;
    color: var(--color_black);
}


/* header */

.header{
    height: 12vh;
    width: 100vw;
    background-color: var(--color_white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
}
li a{
    text-decoration: none;
    color: var(--color_black);
    font-family: 'roboto_medium';
    transition: all 0.3s ease;
    cursor: pointer;
}
button i{
    font-size: 1.5rem;
}

.search-container {
    position: relative;
    display: flex;
}

.search-input {
    padding: 10px;
    border: 1px solid var(--theme_color1);
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-container input{
    outline: none;
}
.search-container i {
    color: var(--color_white);
}

.search-button {
    background-color: var(--theme_color1);
    color: white;
    border: 1px solid var(--theme_color1);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Style for the search icon inside the button */
.search-button i {
    padding: 10px;
}


.r-menu i{
    font-size: 1.5rem;
}
.micon{
    color: var(--color_black);
}

.m-menu{
    display: none;
    list-style: none;
    font-size: 1.5rem;
}
.menu {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}


.menu li a{
    color: var(--color_black);
    transition: 0.3s ease;
}

.menu li a:hover{
    color: var(--theme_color1);
}


/* slider */

.banner{
    width: 100%;
    position: relative;
}
.slider-content{
    height: 80vh;
    background-color: #EDEF89;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    width: 100%;
}

.slider{
    height: 100%;
    width: 100%;
    display: flex;
}

.slider-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;

}

.slider-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.slider-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.btn{
    height: 70px;
    width: 200px;
    border-radius: 35px;
    background-color: var(--theme_color1);
    color: var(--color_black);
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    background-color: #1E1E1E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    color: var(--color_white);
}

.slider-left p{
    width: 90%;
}


/* brands */

.brands{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.brand_container{
    padding: 0 5rem;
    width: 100%;
}

.brand_container ul{
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 1fr));
    justify-items: center;
}

.brand_container ul li img{
    width: 100%;
}

/* product categories */

.product-categories{
    height: 100vh;
    width: 100vw;
}


.product-categories h3{
    margin-top: 3rem;
    font-family: 'roboto_black';
    font-size: 2rem;
    color: var(--color_black);
    text-align: center;
}

.categories-ul{
    margin-top: 3rem;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 25% 25%;
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item1 item1 item4 item4"
    "item1 item1 item4 item4";
    gap: 1.5rem 1.5rem;
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}

.categories{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.categories img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.cat_details {
    padding: 0 3rem;
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.5746673669467788) 0%, rgba(52,52,52,0.38139005602240894) 56%, rgba(254,254,254,0) 100%);
    margin-top: 0rem;
    transition: 0.3s all ease-in-out;
}

.cat_details p, i{
    font-size: 2rem;
    color: var(--color_white);
    cursor: pointer;
}

.categories:hover .cat_details{
    margin-top: -8rem;
}


/* featured product section */

.featured_container{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.f_product{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border: 1px solid #D9D9D9;
    transition:0.3s cubic-bezier(0.88, 0.05, 0.15, 1.15);
    cursor: pointer;

}

.fproduct-img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.fproduct-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.fproduct-img i {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    color: var(--theme_color1);
    border-radius: 50px;
    font-size: 2rem;
    border: none;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.f_product:hover .fproduct-img i{
    display: block;
}

.fproduct-img img:hover{
    transform: scale(1.1);
}

.featured_product_info{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    padding: 0 20px;
}
.f-product-row1{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.card_categories, .ratings{
    color: var(--theme_color1);
    font-size: 1.4rem;
    font-weight: bold;
}
.product_title, .price{
    font-family: 'roboto_regular';
    font-size: 1.2rem;
}




/* offers */

.offer_container{
    height: clamp(30vh , 70vh, 100vh);
    width: 100%;
    background-color: var(--theme_color2);
    border-radius: 30px;
    overflow: hidden;
    padding: 0 3rem;
}
.offer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    column-gap: 7rem;

}

.offer_img{
    display: flex;
    justify-content: center;
}
.offer_details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.offer_img img{
    width: 130%;
}

/* .offer_container h1{
    font-size: 6rem;
}
.offer_container h2{
    font-size: 3rem;
} */
.offer_details h1,h2{
    text-transform: uppercase;
    font-family: roboto_black;
}

/* footer */

.footer{

    background-color: var(--color_black);
}

.footer_container{
    /* height: 30vh; */
    width: 100%;
    color: var(--color_white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.top_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.top_container h3{
    margin-bottom: 10px;
}
.top_container p {
    color: #D9D9D9;
    font-size: 1rem;
}
.top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_container{
    margin-top: 20px;
}

.top a{
    text-decoration: none;
}

/* media screen */

@media only screen and (max-width: 956px) {
    ul{
        gap: 1.7rem;
    }
    .search input{
        display: none;
    }
    
    h2{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }

    .slider-left{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }
    
    .slider-left p{
        width: 100%;
    }

    .slider-item{
        grid-template-columns: 1fr;
        padding: 2rem;
        width: 100%;

    }
    .slider-left img{
        display: block;
        width: 100%;
        height: 100%;

    }

    .slider-right{
        margin-top: 40px;
        justify-content: center;
    }
    .slider-right img{
        width: 90%;
    }
    .featured_product {
        padding-top: 0;
    }
    .product-categories{
        height: 70vh;
    }
    .categories-ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "item1 item2" "item3 item4";
        height: 70%;
    }
    .featured_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .offer{
        grid-template-columns: 1fr;
    }
    .offer_container{
        height: 100vh;
    }
    .offer_details {
        margin-top: 3rem;
        gap: 10px;
    }
    .padding{
        padding: 2rem 3rem;
    }
    
    .top_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media only screen and (max-width: 670px) {
    
    .padding{
        padding: 2rem 3rem;
    }
    .m-menu{
        display: block;
    }
    .menu,.r-menu{
        display: none;
    }
    .categories-item p{
        display: none;
    }

    .slider-left p{
        width: 90%;
    }
    
    .slider-content{
        height: 100vh;
    }
    .slider-controls{
        display: none;
    }
    h1{
        font-size: 2.8rem;
    }
    .slider-right img{
        width: 90%;
    }
    .slider-left button{
        width: 150px;
        height: 60px;
    }

    .brands{
        height: 15vh;
    }

    .brand_container{
        padding: 0 3rem;
    }

    .cat_details{
        display: none;
    }
    
    .top_container{
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items:left;
    }
    
 
}

@media only screen and (min-width: 1280px) {
    .navbar{
        padding: 0 9vw;
    }
    .padding{
        padding: 2.5vw 4vw;
    }
}
 
